<% include ../views/partials/header %>

  <div class="container page home">
    <div>
      <div><h1>Missing</h1></div>
      <div></div>
      <div id="missinggrid"></div>
    </div>
  </div>

<script> 
  function renderPersonCell(value, item)
  {
    return "<img src=\"" + item.photo + "\" style=\"height:110px\" class=\"img-circle\" alt=\"" + value + "\">";
  }

  function renderDateCell(value, item)
  {
    if (value) { return new Date(value).toLocaleDateString("en-US"); }
    return "unknown";
  }

  function renderDateTimeCell(value, item)
  {
    if (value) { return new Date(value).toLocaleString("en-US"); }
    return "unknown";
  }

	$("#missinggrid").jsGrid({
		width: "100%",
		height: "600px",

    autoload: true,
		sorting: true,
    paging: true,
    pageSize: 5,
    noDataContent: "Currently, there are no missing persons.",
    rowClick: function(args) { window.location.href = "/profile/" + args.item.id; },

		controller: {
      loadData: function(filter) { return $.ajax({type: "GET", url: "/api/profiles" }); },
      insertItem: $.noop,
      updateItem: $.noop,
      deleteItem: $.noop
    },

		fields: [
      { title: "Missing Person", name: "name", type: "text", align: "center", itemTemplate: renderPersonCell },
      { title: "Name", name: "name", type: "text" },
      { title: "Gender", name: "gender" },
      { title: "Date of Birth", name: "birthday", type: "text", itemTemplate: renderDateCell },
      { title: "Age", name: "age", type: "text", width: "50px", sorter: function(int1, int2) {
        return parseInt(int1 ? int1 : "0", 10) - parseInt(int2 ? int2 : "0", 10);
        }
      },
      { title: "Triggered On", name: "triggeredOn", type: "text", width: "150px", itemTemplate: renderDateTimeCell },
      { title: "Triggered From", name: "triggeredFrom", type: "text" }
		]
  });
</script>

<% include ../views/partials/footer %>