<% include ../views/partials/header %>

  <div class="container page home">
    <div>
      <div><h1>Registrants</h1></div>
      <div></div>
      <div class="jumbotron">
        <div class="row">
          Registrant Name: <input id="reginame" type="text"/>
          &nbsp;&nbsp;<button type="button" id="find" onclick="find();">Find</button>
        </div>
      </div>
      <div id="regigrid"></div>
    </div>
  </div>

<script>

  $('#reginame').keypress(function (e) {
    if (e.which == 13) {
      $('#find').click();
      return false;
    }
  });

  function find()
  {
      $("#regigrid").jsGrid("search", {
          name: $("#reginame").val()
      });
  }

  function renderSocial(value, item)
  {
    return (value ? "<img src=\"" + value.profilepic + "\" style=\"height:110px\" class=\"img-circle\" alt=\"" + item.name + "\"><br>" +
          value.displayName + "<br>" + value.hometown + "<br>" : "");
  }

  function renderDateTimeCell(value, item)
  {
    if (value) { return new Date(value).toLocaleString("en-US"); }
    return "unknown";
  }

	$("#regigrid").jsGrid({
		width: "100%",
		height: "600px",

    autoload: false,
    filtering: false,
		sorting: true,
    paging: true,
    pageSize: 5,
    noDataContent: "Currently, there are no registrations.",
    // rowClick: function(args) { window.location.href = "/registrant/" + args.item.id; },

		controller: {
      loadData: function(filter) { return $.ajax({type: "GET", url: "/api/registrants", data: filter }); },
      insertItem: $.noop,
      updateItem: $.noop,
      deleteItem: $.noop
    },

		fields: [
      { title: "Registrant Name", name: "name", type: "text" },
      { title: "Registered On", name: "registeredOn", type: "text", itemTemplate: renderDateTimeCell },
      { title: "Twitter", name: "twitter", type: "text", align: "center", filtering: false, itemTemplate: renderSocial },
      { title: "Facebook", name: "facebook", type: "text", align: "center", filtering: false, itemTemplate: renderSocial },
      { title: "Instagram", name: "instagram", type: "text", align: "center", filtering: false, itemTemplate: renderSocial }

		]
  });
</script>

<% include ../views/partials/footer %>